= form_for @console_server do |f|
  - if @console_server.errors.any?
    #error_explanation
      %h2= "#{pluralize(@console_server.errors.count, "error")} prohibited this console_server from being saved:"
      %ul
        - @console_server.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  -#.field
    = f.label :ipv4_address
    = f.text_field :ipv4_address
  .field
    = f.label :telnet_port_base
    = f.number_field :telnet_port_base
  .field
    = f.label :ssh_port_base
    = f.number_field :ssh_port_base
  .field
    = f.label :credential_id
    = collection_select(:console_server, :credential_id, Credential.all, :id, :name)

  .actions
    = f.submit 'Save'
