%h1 Listing console_servers

%table
  %tr
    %th Name
    %th IP Address 
    %th Telnet Port Base
    %th SSH Port Base
    %th
    %th
    %th

  - @console_servers.each do |console_server|
    %tr
      %td= console_server.name
      %td  IP Address 
      %td= console_server.telnet_port_base
      %td= console_server.ssh_port_base
      %td= link_to 'Show', console_server
      %td= link_to 'Edit', edit_console_server_path(console_server)
      %td= link_to 'Destroy', console_server, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Console server', new_console_server_path
