%p#notice= notice

%p
  %b Name:
  = @console_server.name
%p
  %b Description:
  = @console_server.description
%p
  %b Telnet Port Base:
  = @console_server.telnet_port_base
%p
  %b SSH Port Base:
  = @console_server.ssh_port_base
%p
  %b Credential ID:
  = @console_server.credential_id

= link_to 'Edit', edit_console_server_path(@console_server)
\|
= link_to 'Back', console_servers_path
