%h1 Listing MRVs

%table
  %tr
    %th Name
    %th IP Address
    %th
    %th
    %th

  - @mrvs.each do |mrv|
    %tr
      %td= mrv.name
      %td ip address
      %td= link_to 'Show', mrv
      %td= link_to 'Edit', edit_mrv_path(mrv)
      %td= link_to 'Destroy', mrv, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mrv', new_mrv_path
