%p#notice= notice

%p
  %b Name:
  = @mrv.name
%p
  %b Description:
  = @mrv.description
%p
  %b Credential ID:
  = @mrv.credential_id

= link_to 'Edit', edit_mrv_path(@mrv)
\|
= link_to 'Back', mrvs_path
