%h1 Listing devices

%table
  %tr
    %th String
    %th Text
    %th Text
    %th
    %th
    %th

  - @devices.each do |device|
    %tr
      %td= device.string
      %td= device.text
      %td= device.text
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
      %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_device_path
