%p#notice= notice

%p
  %b Name:
  = @device.name
%p
  %b Description:
  = @device.description
%p
  %b Base Configuration:
  = @device.base_configuration
%p
  %b Credential ID
  = @device.credential_id

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
