%p#notice= notice

%p
  %b String:
  = @credential.string
%p
  %b Text:
  = @credential.text
%p
  %b String:
  = @credential.string
%p
  %b String:
  = @credential.string
%p
  %b String:
  = @credential.string

= link_to 'Edit', edit_credential_path(@credential)
\|
= link_to 'Back', credentials_path
