%p#notice= notice

%p
  %b Name:
  = @credential.name
%p
  %b Description:
  = @credential.description
%p
  %b Username:
  = @credential.username
%p
  %b Password:
  = @credential.password
%p
  %b Enable Password:
  = @credential.enable_password

= link_to 'Edit', edit_credential_path(@credential)
\|
= link_to 'Back', credentials_path
